<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>activityName</key>
		<string>BBQ Crawl</string>
		<key>organizerName</key>
		<string>Kunal Guha</string>
		<key>type</key>
		<integer>2</integer>
		<key>DOS</key>
		<string>2</string>
		<key>Latitude</key>
		<real>37.36852</real>
		<key>Longitude</key>
		<real>-122.104111</real>
		<key>distance</key>
		<string>5.9</string>
		<key>goingCount</key>
		<string>12</string>
		<key>Date</key>
		<string>2012-07-14_21:43:29</string>
		<key>detailQuotations</key>
		<array>
			<dict>
				<key>DOS_1</key>
				<integer>2</integer>
				<key>DOS_2</key>
				<integer>4</integer>
				<key>location</key>
				<string>114 Christopher Street</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>activityName</key>
		<string>Tasting Menu</string>
		<key>organizerName</key>
		<string>Raunak Shah</string>
		<key>type</key>
		<integer>2</integer>
		<key>DOS</key>
		<string>1</string>
		<key>Latitude</key>
		<real>37.437248</real>
		<key>Longitude</key>
		<real>-122.11853</real>
		<key>distance</key>
		<string>0.3</string>
		<key>goingCount</key>
		<string>21</string>
		<key>Date</key>
		<string>2012-09-2_12:04:29</string>
		<key>detailQuotations</key>
		<array>
			<dict>
				<key>DOS_1</key>
				<integer>8</integer>
				<key>DOS_2</key>
				<integer>4</integer>
				<key>location</key>
				<string>Penn Square</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>activityName</key>
		<string>Learning to Ride!</string>
		<key>organizerName</key>
		<string>Avinash Thadani</string>
		<key>type</key>
		<integer>5</integer>
		<key>DOS</key>
		<string>2</string>
		<key>Latitude</key>
		<real>37.386526</real>
		<key>Longitude</key>
		<real>-122.021713</real>
		<key>distance</key>
		<string>0.83</string>
		<key>goingCount</key>
		<string>11</string>
		<key>Date</key>
		<string>2012-12-12_19:43:29</string>
		<key>detailQuotations</key>
		<array>
			<dict>
				<key>DOS_1</key>
				<integer>12</integer>
				<key>DOS_2</key>
				<integer>9</integer>
				<key>location</key>
				<string>Leisure Valley</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>activityName</key>
		<string>Rock Concert</string>
		<key>organizerName</key>
		<string>Kanav Gupta</string>
		<key>type</key>
		<integer>3</integer>
		<key>DOS</key>
		<string>1</string>
		<key>Latitude</key>
		<real>40.739649</real>
		<key>Longitude</key>
		<real>-74.00013</real>
		<key>distance</key>
		<string>1.9</string>
		<key>goingCount</key>
		<string>32</string>
		<key>Date</key>
		<string>2012-06-16_06:43:29</string>
		<key>detailQuotations</key>
		<array>
			<dict>
				<key>DOS_1</key>
				<integer>10</integer>
				<key>DOS_2</key>
				<integer>7</integer>
				<key>location</key>
				<string>Old Delhi</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>activityName</key>
		<string>Tennis Match</string>
		<key>organizerName</key>
		<string>Shahved Katoch</string>
		<key>type</key>
		<integer>1</integer>
		<key>DOS</key>
		<string>1</string>
		<key>Latitude</key>
		<real>40.7256</real>
		<key>Longitude</key>
		<real>-74.006052</real>
		<key>distance</key>
		<string>5.6</string>
		<key>goingCount</key>
		<string>2</string>
		<key>Date</key>
		<string>2012-06-15_12:24:29</string>
		<key>detailQuotations</key>
		<array>
			<dict>
				<key>DOS_1</key>
				<integer>6</integer>
				<key>DOS_2</key>
				<integer>4</integer>
				<key>location</key>
				<string>London</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>activityName</key>
		<string>Othello</string>
		<key>organizerName</key>
		<string>Harish Hoon</string>
		<key>type</key>
		<integer>4</integer>
		<key>DOS</key>
		<string>2</string>
		<key>Latitude</key>
		<real>40.720787</real>
		<key>Longitude</key>
		<real>-73.98888599999999</real>
		<key>distance</key>
		<string>8.6</string>
		<key>goingCount</key>
		<string>24</string>
		<key>Date</key>
		<string>2012-11-12_11:43:29</string>
		<key>detailQuotations</key>
		<array>
			<dict>
				<key>DOS_1</key>
				<integer>3</integer>
				<key>DOS_2</key>
				<integer>9</integer>
				<key>location</key>
				<string>Miami</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>activityName</key>
		<string>The Artist</string>
		<key>organizerName</key>
		<string>Ramona</string>
		<key>type</key>
		<integer>3</integer>
		<key>DOS</key>
		<string>2</string>
		<key>Latitude</key>
		<real>30.727134</real>
		<key>Longitude</key>
		<real>75.846288</real>
		<key>distance</key>
		<string>1.6</string>
		<key>goingCount</key>
		<string>2</string>
		<key>Date</key>
		<string>2012-7-7_17:43:29</string>
		<key>detailQuotations</key>
		<array>
			<dict>
				<key>DOS_1</key>
				<integer>3</integer>
				<key>DOS_2</key>
				<integer>9</integer>
				<key>location</key>
				<string>Spain</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
